//- pen based https://codepen.io/finnhvman/pen/PojJqmq

svg
	//- -------- -//
	//- filters  -//
	//- -------- -//

	defs
		// create mountains from ellipses
		filter#mountains
			feTurbulence(type="fractalNoise", baseFrequency="0.005 0", numOctaves="7")
			feDisplacementMap(in="SourceAlpha", scale="99")
			feColorMatrix(values="0 0 0 0 0.01 0 0 0 0 0.02 0 0 0 0 0.02 0 0 0 -1 1")

		// gradient fog
		linearGradient#gr-fog(x1="0", x2="0", y1="0", y2="1")
			stop(offset="0%", stop-color="#fff", stop-opacity="0.3")
			stop(offset="24%", stop-color="transparent")

		// gradient clouds
		radialGradient#gr-clouds
			stop(offset="50%", stop-color="#fff")
			stop(offset="100%", stop-color="#fce8cf", stop-opacity="0.3")

		// gradient sun
		radialGradient#gr-sun
			stop(offset="50%", stop-color="#ffe777")
			stop(offset="50%", stop-color="#fff9e3", stop-opacity="0.2")

		// create waves
		filter#turbulence
			feTurbulence(
				type="turbulence",
				baseFrequency="0.01",
				numOctaves="1",
				result="turbulence"
			)
				animate(
					attributeName="baseFrequency",
					repeatCount="indefinite",
					values="0.1; 0.05",
					keyTimes="0; 1",
					dur="5s"
				)
			feDisplacementMap(
				xChannelSelector="R",
				yChannelSelector="G",
				scale="2",
				in="SourceGraphic",
				in2="turbulence"
			)

		// create clouds
		filter#clouds
			feTurbulence(
				type="fractalNoise",
				baseFrequency="0.013",
				numOctaves="8",
				seed="0"
			)
			feDisplacementMap(in="SourceGraphic", scale="150")

	//- -------- -//
	//- elements -//
	//- -------- -//

	//- sun
	circle#sun(cx="60%", cy="40%", r="7%", fill="url(#gr-sun)")
	use(href="#sun", x="0", y="19%", filter="blur(4px)")

	//- clouds
	rect#c1(
		x="75%",
		y="5%",
		width="18%",
		height="14%",
		fill="url(#gr-clouds)",
		opacity="0.5",
		filter="url(#clouds) blur(2px)"
	)
	ellipse#c2(
		cx="69%",
		cy="25%",
		rx="100",
		ry="50",
		fill="url(#gr-clouds)",
		opacity="0.7",
		filter="url(#clouds) blur(2px)"
	)
	rect#c3(
		x="21%",
		y="27%",
		width="11%",
		height="7%",
		fill="url(#gr-clouds)",
		opacity="0.7",
		filter="url(#clouds) blur(2px)"
	)

	//- mountains
	ellipse#e(cx="50%", cy="0%", rx="70%", ry="42%", filter="url(#mountains)")

	//- clouds
	use(href="#c2", y="-100%", transform="scale(1 -1)", filter="url(#turbulence)")
	use(href="#c1", y="-90%", transform="scale(1 -1)", filter="url(#turbulence)")
	use(href="#c3", y="-100%", transform="scale(1 -1)", filter="url(#turbulence)")

	//- mountains reflection
	use(
		href="#e",
		transform="scale(1 -1)",
		y="-100%",
		filter="blur(2px) url(#turbulence)"
	)

	rect(x="0", y="0", width="100%", height="49%", fill="#fff", opacity="0.1")

	//- mountains back
	use(href="#e", transform="scale(1 -1)")

	//- fog
	rect#fog(x="0", y="50%", width="100%", height="100%", fill="url(#gr-fog)")
	use(href="#fog", y="-100%", transform="scale(1 -1)")

.resize
	span ←
	span resize window
	span →
